{% include "header.html" %}
{% load static %}

                <article class="content dashboard-page">
                    <div class="row sameheight-container">
                            <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-xl-5 stats-col">
                                <div class="card sameheight-item stats" data-exclude="xs">
                                    <div class="card-block">
                                        <div class="row row-sm stats-container">
                                            <div class="col-12 col-sm-6 stat-col center">
                                                <img class="center" style="max-width: 180px" src="{% static "qr_codes/qr_code-Juga_de_Vuelta.png" %}">
                                            </div>

                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon" >
                                                    <i  class="fa fa"></i>
                                                </div>
                                                <div class="stat">

                                                    <div class="value"><i  class="fa fa-money"></i> Gs. 5.000._ </div>
                                                    <br><br><br><div class="value"> 3595 </div>
                                                    <div class="value"> 3596 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6  stat-col">
                                                <div class="stat-icon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <div class="stat">
                                                    <div class="value"> Coronel Oviedo </div>
                                                    <div class="name"> 07/07/2021 </div>
                                                </div>

                                            </div>
                                            <div class="col-12 col-sm-6 stat-col">
                                                <img style="max-width: 150px" src="{% static "assets/rifa.png" %}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                </article>
{% include "footer.html" %}